body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 188px auto; 
  grid-template-areas:
    "nav header"
    "nav main";
  height: 100%;
}

/*NAV STYLES*/

.main-nav {
  background-color: #4f6367;
  grid-area: nav;
  width: 250px;
  height: 100vh;
}

.profile-pic {
  border-radius: 50%;
  margin: 0px 45px;
  width: 160px;
}

.profile-text {
  color: white;
  font-size: 2.5em;
  font-family: 'Oleo Script', cursive;
  text-align: center;
}

.main-nav-list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  list-style: none;
  margin: 35px auto;
  padding: 0px;
  width: 95%;
}

.main-nav-list li {
  background-color: rgb(127, 146, 158);
  border: 2px solid rgba(255, 255, 255, 0);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  padding: 15px;
  margin: 8px 0px;
  text-align: center;
  text-shadow: -2px 2px 3px rgb(85, 85, 85);
  transition: all .3s ease;
}

.main-nav-list li:hover {
  cursor: pointer;
  border-color: #e8972c;
  transform: scale(1.1) translateX(10px)
}

#goals {
  color: orange;
}

/*HEADER STYLES*/

header {  
  grid-area: header;
}

.Banner {
  font-family: 'Oleo Script', cursive;
  font-size: 4em; 
  position: relative;
  text-align: center; 
  margin: 40px auto 25px;
}

.secondary-nav {
  display: flex; 
  justify-content: space-between; 
  background-color: #7a9e9f; 
  padding: 10px 40px; 
  margin: 0; 
}

.secondary-nav-item {
  list-style: none;
  font-family: 'Open Sans', sans-serif; 
  font-size: 1.2em; 
  font-weight: bold; 
  text-shadow: -2px 2px 3px rgb(85, 85, 85);
  cursor: pointer; 
  border: 3px solid #00000000; 
  transition: all 0.3s ease
}

.secondary-nav-item i {
  transition: all 0.3s ease;
  font-size: 1.2em; 
}

.secondary-nav-item:hover {
  cursor: pointer;  
  transform: scale(1.1); 
  color: white; 
}

.secondary-nav-item:hover i{
  cursor: pointer;  
  transform: scale(1.1); 
  color: white; 
}

.icons {
  font-size: 1rem; 
  color: #000000; 
  margin-right: 5px; 
}

/* Logout Button  */

.logout-btn {
  margin-top: 0; 
  position: absolute;
  top: 0; 
  right: 0; 
  background-color: #4f6367;
  font-weight: 700;
  font-size: 1.2em;
  padding: 15px 30px; 
  font-family: 'Open Sans', sans-serif; 
  text-shadow: -2px 2px 3px rgb(85, 85, 85);
  color: #ffffff; 
  border: 2px solid rgba(255, 32, 32, 0); 
  transition: all .3s ease;
}

.logout-btn:hover {
  cursor: pointer;
  border-color: #e8972c;
  transform: scale(1.1);
}


/*MAIN STYLES*/

main {
  background-image: url('everest.jpeg');
  background-size: cover;
  grid-area: main;
  position: relative;
}

.edit-goal-btn {
  color: white;
  background-color: #4f63679f;
  border: 2px solid rgba(255, 174, 174, 0);
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  padding: 15px 20px;
  right: 0;
  position: absolute;
  text-shadow: -2px 2px 3px rgb(85, 85, 85);
  transition: all .3s ease;
}

.edit-goal-btn:hover {
  cursor: pointer;
  border-color: #e8972c;
}

aside {
  background-color: #d9eaea;
  margin-top: 100px;
  float: right;
  padding: 0 90px;
}

.aside-content-container {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  justify-content: space-between;
}

.aside-header {
  font-size: 1.9em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
}

.content-value {
  color: #e8972c;
  font-size: 3.5em;
  margin: 5px;
}

.content-label {
  font-size: .8em;
  text-align: center;
  margin: 5px auto 20px;
}

.mobile-header {
  display: none;
}


@media (max-width: 765px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
    grid-template-areas:
      "header"
      "main"
      "nav";
    height: auto;
  }

  header {
    display: none;
  }

  .mobile-header {
    display: flex; 
    position: relative;
    justify-content: space-between; 
    align-items: center;
    grid-area: header;
    background-color: #4f6367; 
    padding: 10px 30px; 
  }


  aside {
    margin-top: 40px;
    margin-bottom: 140px;
    padding: 0 40px;
  }

  .aside-header {
    font-size: 1.2em;
  }
  
  .content-value {
    font-size: 2.2em;
  }
  
  .content-label {
    font-size: .6em;
    margin: 5px auto 20px;
  }

  .main-nav {
    width: 100%;
  }

  .profile-pic {
    display: none;
  }

  .profile-text {
    display: none;
  }

  .main-nav {
    background-color:#d9eaea;
    height: auto;
  }

  .main-nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main-nav-list li {
    background-color: rgb(127, 146, 158);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
    height: 90px;
  }

  .main-nav-list li:hover {
    transform: scale(1)
  }
}

@media (max-width: 500px) {

  aside {
    margin-top: 40px;
    margin-bottom: 140px;
    padding: 0 30px;
  }

  .aside-header {
    font-size: .8em;
  }
  
  .content-value {
    font-size: 1.6em;
  }
  
  .content-label {
    font-size: .4em;
    margin: 5px auto 20px;
  }
}
  .mobile-profile-text {
    font-family: 'Oleo Script', cursive;
    color: white; 
    text-align: center; 
    position: absolute;
    width: 200px;
    top: -12px;
    left: calc(50vw - 100px)
  }

  .mobile-icons {
    color: white;
    font-size: 2em; 
    margin-top: 0px; 
    cursor: pointer;  
  }

  .mobile-logout-btn {
    border: none; 
    text-shadow: -2px 2px 3px rgb(85, 85, 85);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem; 
    background-color: #4f6367;
    color: white;
    cursor: pointer;  
    text-align: right; 
  }

  .mobile-icons:hover {
    cursor: pointer; 
    color: #e8972c; 
  }

  .mobile-logout-btn:hover {
    cursor: pointer; 
    color: #e8972c; 
  }
}
 
